---
title: Index 1 page
---
extends layouts/_layout
block content
	#barba-wrapper 
		.barba-container(data-namespace="detail")
			header(id="bbbb" style="background: red")
			a(href="page.html" class="bth prev back") back