---
title: Index 1 page
---
extends layouts/_layout
block content
	#barba-wrapper 
		.barba-container#body(data-namespace="detail" data-src="../img/2.jpg")
			header(id="bbb" style="background: url('../img/2.jpg')")
			a(href="page.html" class="bth prev back") back