---
title: Index Page
---
extends layouts/_layout
block content
	.block
		.block-title
		h2.title-text.left Find a local hospitality host
		a.view-live(href="") Viev live
	.block
		.block-title
		h2.title-text.right Track your time smarter	
		a.view-live(href="") Viev live
	.block
		.block-title
		h2.title-text.left Make more sales, in less time
		a.view-live(href="") Viev live
	.block 
		.block-title
		h2.title-text.right Find the perfect home
		a.view-live(href="") Viev live
	.block
		.block-title 
		h2.title-text.left Modern Smart cloud IDE
		a.view-live(href="") Viev live
	.block
		.block-title 
		h2.title-text.right New era of rental
		a.view-live(href="") Viev live
	.block
		.block-title 				
		h2.title-text.left Live answering service
		a.view-live(href="") Viev live


		//- h1.title.arr1(data-img="../img/girl1.jpg ||../img/girl2.jpg ||../img/girl3.jpg", data-text="Nigeria") Nigeria
		//- h1.title.arr2(data-img="../img/france1.jpg ||../img/france2.jpg ||../img/france3.jpg", data-text="France") France
		//- h1.title.arr3(data-img="../img/italy1.jpg ||../img/italy2.jpg ||../img/italy3.jpg ||../img/italy4.jpg", data-text="ItaliaMil") ItaliaMil